body {
    font-family: Verdana, sans-serif;
    background-color: black;
    text-align: center;
    color: white;
}

h1 {
    font-size: 50px;
    font-weight: normal;
}

a {
    color: aquamarine;
    color: 16px;
}

h6{
    opacity: 60%;
}