body {
    font-family: Verdana, sans-serif;
    background-color: black;
    text-align: center;
    color: white;
    font-weight: normal;
}

h1 {
    font-size: 50px;
    font-weight: normal;
}

a {
    color: aquamarine;
    color: 16px;
}

h2 {
    font-weight: normal;
}

h6{
    opacity: 60%;
    font-weight: normal;
}

img {
    display: block;
    margin: 0 auto;
    padding: 30px 0;
}