body {
    font-family: Verdana, sans-serif;
    background-color: black;
    text-align: center;
    text-decoration-color: white;
}

h1 {
    font-size: 50px;
}

a {
    color: aquamarine;
    color: 16px;
}